* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	width: 100%;
	background-color: #ec715f;
}
nav {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
}
.nav-right {
	float: left;
	height: 70px;
}
.nav-logo {
	height: 70px;
}
.nav-list {
	display: flex;
	float: right;
}
.nav-list-item {
	display: flex;
	align-items: center;
	float: left;
	list-style: none;
	height: 70px;
}
.nav-list-item a {
	width: 120px;
	padding: 0 30px;
	color: #fafafa;
	text-decoration: none;
	font-size: 16px;
}
.main-visual {
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual-text h1 {
	font-size: 64px;
	color: #fafafa;
	padding-top: 200px;
	text-align: center;
}
.main-visual-text p {
	font-size: 20px;
	color: #fafafa;
	padding-top: 10px;
	text-align: center;
}
.portfolio{
width: 100%;
background-color: #eceff1;
}
.portfolio-content {
	width: 920px;
	padding: 90px 0px;
	margin: 0 auto;
}
h2 {
	text-align: center;
	font-size: 32px;
	color: #000000;
}
h2::after{
	content: " ";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #ec715f;
}
p {
	text-align: center;
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}

.portfolio-images {
	width: 920px;
}
.portfolio-image-1 {
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
	display: inline-block;
}
.portfolio-image-2 {
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
	margin: 0 10px 10px 10px;
	display: inline-block;
}
.portfolio-image-3 {
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
	display: inline-block;
}
.portfolio-image-4 {
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
	display: inline-block;
}
.portfolio-image-5 {
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 10px;
	display: inline-block;
}
.portfolio-image-6 {
	height: 250px;
	width: 300px;
	float: left;
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
	display: inline-block;
}
.feature-content {
	width: 980px;
	padding: 90px 0px;
	margin: 0 auto;
}
.feature-strength {
	width: 320px;
	display: inline-block;
	float: left;
}
.feature-strength:nth-child(2) {
	margin: 0 10px;
}
.feature-strength-title {
	font-size: 20px;
	color: #000000;
	text-align: center;
	padding: 10px 0;
}
.feature-strength-text {
	padding: 0;
	text-align: left;
}
.social {
	width: 100%;
	font-size: 60px;
  	display: inline-block;
  	text-align: center;
}
.profile {
	width: 100%;
	background-color: #eceff1;
}
.profile-content {
	width: 1024px;
	padding: 90px 0;
	margin: 0 auto;
}
.left-content {
	float: left;
	width: 50%;
	margin: 0 auto;
}
.myface {
	background-image: url(img/my-icon.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 125px;
	height: 250px;
	width: 250px;
	margin: 0 auto;
}
.right-content {
	float: right;
	width: 50%;
}
.right-content h3 {
	font-size: 20px;
	margin: 20px 0 5px 0;
}
.right-content h3:first-child {
	margin-top: 0;
}
.right-content p {
	padding: 5px 0 20px 0;
	font-size: 16px;
	color: #000000;
	text-align: left;
}
.myname p {
	padding-top: 0;
}
.myskills p {
	padding-top: 0;
}
.contact {
	width: 100%;
}
.contact-content {
	width: 800px;
	padding: 90px 0;
	margin: 0 auto;
}
.address {
	display: inline-block;
	padding: 5px 0 20px 0;
	color: black;
}
.number {
	display: inline-block;
	padding-top: 5px;
	color: black;
}
.left-content-box {
	width: 130px;
	margin: 0 auto;
}
h3 {
	font-size: 20px;
}
.right-content-box {
	width: 170px;
	margin: 0 auto;
}
.fab {
	font-size: 50px;
	margin-right: 20px;
	display: inline-block;
	float: left;
}
.fab:last-child {
	margin-right: 0;
}
footer {
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	line-height: 60px;
}
.copyright {
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	padding: 0;
}
@media screen and (max-width: 767px) {
	.header-content {
		width: 90%;
		height: 50px;
	}
	.nav-logo {
		height: 50px;
	}
	.nav-left {
		display: none;
	}
	.menu {
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 5%;
		border: 1px solid #fafafa;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.menu-bar {
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #fafafa;
	}
	.menu-bar:first-child {
		margin-top: 10px;
	}
	.main-visual {
		background-image: url(img/code.png)
	}
	.main-visual-text {
		width: 90%;
		margin: 0 auto;
	}
	.main-visual-text h1 {
	font-size: 40px;
	}
	.main-visual-text p {
	font-size: 18px;
	}
	.portfolio {
		padding: 0 5%;
	}
	.portfolio-content {
		width: 90%;
		margin: 0 auto;
	}
	.portfolio-images {
		width: 90%;
		margin: 0 auto;
	}
	.portfolio-image-1 {
		display: none;
	}
	.portfolio-image-2 {
		float: none;
		width: 300px;
		height: 250px;
		margin: 0 auto;
		display: block;
	}
	.portfolio-image-3 {
		display: none;
	}
	.portfolio-image-4 {
		float: none;
		width: 300px;
		height: 250px;
		margin: 10px auto;
		display: block;
	}
	.portfolio-image-5 {
		display: none;
	}
	.portfolio-image-6 {
		float: none;
		width: 300px;
		height: 250px;
		margin: 0 auto;
		display: block;
	}
	.feature {
		padding: 0 5%;
	}
	.feature-content {
		width: 90%;
	}
	.feature-strength {
	width: 320px;
	display: block;
	float: none;
	margin: 0 auto;
	}
	.feature-strength:nth-child(2) {
	margin: 10px auto;
	}
	.profile{
		padding: 0 5%;
	}
	.profile-content {
		width: 90%;
	}
	.left-content {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.right-content {
		float: none;
		width: 100%;
		text-align: center;
	}
	.right-content p {
		text-align: center;
	}
	.myname h3 {
		padding-top: 20px;
	}
	.br {
		display: none;
	}
	.contact {
		padding: 0 5%;
	}
	.contact-content {
		width: 90%;
	}
	h3  {
		text-align: center;
	}
	.address {
		padding-left: 11px;

	}
	.number {
		padding-bottom: 20px;
		padding-left: 3px;
	}
}